<!doctype html>
<html lang="en">

<head>
<meta charset="utf-8">

<title>Einführung in Django</title>

<meta name="author" content="Arne Schauf">

<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

<link rel="stylesheet" href="css/reveal.min.css">
<link rel="stylesheet" href="css/theme/default.css" id="theme">

<!-- For syntax highlighting -->
<link rel="stylesheet" href="lib/css/zenburn.css">

<!-- If the query includes 'print-pdf', include the PDF print sheet -->
<script>
if( window.location.search.match( /print-pdf/gi ) ) {
    var link = document.createElement( 'link' );
    link.rel = 'stylesheet';
    link.type = 'text/css';
    link.href = 'css/print/pdf.css';
    document.getElementsByTagName( 'head' )[0].appendChild( link );
}
</script>

<!--[if lt IE 9]>
                <script src="lib/js/html5shiv.js"></script>
                <![endif]-->

<!-- Custom css -->
<link rel="stylesheet" href="css/custom.css">
</head>

<body>

<div class="reveal">

    <!-- Any section element inside of this container is displayed as a slide -->
    <div class="slides">
        <section>
            <img src="django/logo.svg" style="background: none; border: none; box-shadow: none; margin-bottom: 50px">
            <h1>Einführung in Django</h1>
            <h3>Was ist Django und wofür braucht man das?</h3>
            <p><small>made by Arne Schauf <a href="https://www.twitter.com/asmaps">@asmaps</a></small></p>
            <p style="text-align:right"><small>26.10.2014 - NetHack 2014</small></p>
        </section>

        <section>
            <div style="float:left;width:45%;"><img style="max-height:100%;" src="images/IMG_5503.JPG"></div>
            <div style="float:right;width:55%;text-align:center;">
                <h2>Attention please!</h2>
                <img style="width:35%;max-height:100%;" src="images/nsa_monitored_device.jpg">
            </div>
            <div style="clear:both"></div>
        </section>

        <section>
            <h2>Vortrag unter:</h2>
            <h3><a href="http://asmaps.github.io/django-presentation/">http://asmaps.github.io/django-presentation/</a></h3>
        </section>

        <section>
            <h2>Übersicht</h2>
            <ol>
                <li>Was ist Django?</li>
                <li>Komponenten</li>
                <li>Datenbank</li>
                <li>Tools</li>
                <li>Praxiseinsatz</li>
                <li>Alternativen</li>
                <li>Where to start?</li>
            </ol>

            <aside class="notes">
                Willkommen &amp; kurze Übersicht
            </aside>
        </section>

        <section>
            <section>
                <img src="django/logo.svg" style="background: none; border: none; box-shadow: none; margin-bottom: 50px">
                <h1>Was ist Django?</h1>
            </section>
            <section>
                <h2>Django Reinhardt</h2>
                <a class="image" href="https://commons.wikimedia.org/wiki/File:Django_Reinhardt_(Gottlieb_07301).jpg" target="_blank">
                    <img width="431" height="450" src="django/django_reinhardt.jpg" alt="Django Reinhardt spielt Gitarre">
                </a>
                <p><small>* 23.1.1910</small><small style="padding-left: 2em">✝ 16.5.1953</small></p>
                <aside data-markdown class="notes">
                    <script type="text/template">
* Gitarrist, Komponist und Bandleader
* aus Paris
* Begründer des europäischen Jazz
                    </script>
                </aside>
            </section>
            <section>
                <blockquote style="margin-top:40px;margin-bottom:40px" cite="https://www.djangoproject.com/">
                    The Web framework for perfectionists with deadlines. <small>Django makes it easier to build better Web apps more quickly and with less code.</small>
                </blockquote>
                <ul>
                    <li class="fragment roll-in">High-level Webdevelopment Framework</li>
                    <li class="fragment roll-in">Python</li>
                    <li class="fragment roll-in">DRY</li>
                    <li class="fragment roll-in">BSD Lizenz</li>
                    <li class="fragment roll-in">Version 1.6.2</li>
                </ul>
            </section>
            <section>
                <h1>MVT</h1>
                <h3>Model, View, Template(, Controller)</h3>
            </section>
            <section data-state="request-response">
                <h3>Der Weg eines Requests</h3>
                <p id="request-response">
            </section>
        </section>

        <section>
            <section>
                <h1>urls.py</h1>
            </section>
            <section>
                <h2>urls.py</h2>
                <pre><code data-trim class="python">
from django.conf.urls import patterns, include, url

from django.contrib import admin
admin.autodiscover()

urlpatterns = patterns(
    '',
    url(r'^allauth/', include('allauth.urls')),
    url(r'^accounts/', include('accounts.urls')),
    url(r'^admin/', include(admin.site.urls)),
    url(r'^', include('main.urls')),
)
                </code></pre>
            </section>
            <section>
                <h2>main/urls.py</h2>
                <pre><code data-trim class="python">
from django.conf.urls import patterns, url
from django.views.generic import TemplateView
from main.views import (
    HomeView, HelpView, AboutView, ...)
...

urlpatterns = patterns(
    '',
    url(r'^$', HomeView.as_view(), name="home"),
    url(r'^about/$', AboutView.as_view(), name="about"),
    url(r'^legal/$',
        TemplateView.as_view(template_name='main/legal.html'),
        name="legal"),
    url(r'^help/$', HelpView.as_view(), name="help"),
    ...
)
                </code></pre>
            </section>
        </section>

        <section>
            <section>
                <h1>Views</h1>
            </section>
            <section>
                <h2>Function based views (FBV)</h2>
                <pre><code data-trim class="python">
# urls.py

url(r'^evaluate/(?P&lt;id&gt;\d+)/$', 'main.views.evaluate'),
                </code></pre>
                <pre><code data-trim class="python">
# views.py

@login_required
def evaluate(request, id):
    return render_to_response(
        'evaluate/evaluate.html',
        {
            'questionnaire' : Questionnaire.objects.get(id=id),
            'active'        : 'evaluate',
        },
        context_instance=RequestContext(request)
    )
                </code></pre>
            </section>
            <section>
                <h2>Class based views (CBV)</h2>
                <ul>
                    <li>komfortabler als FBV</li>
                    <li class="fragment roll-in">Standard-Funktionalität wiederverwendbar</li>
                    <li class="fragment roll-in">Vererbung</li>
                    <li class="fragment roll-in">Generic Views</li>
                    <li class="fragment roll-in">Tip: <a href="http://ccbv.co.uk">ccbv.co.uk</a></li>
                </ul>
            </section>
            <section>
                <h2>Beispiel TemplateView</h2>
                <pre><code data-trim class="python">
# urls.py

url(r'^about/$', AboutView.as_view(), name="about"),
                </code></pre>
                <pre><code data-trim class="python">
# views.py

from django.views.generic import TemplateView

class AboutView(TemplateView):
    template_name = "main/about.html"
                </code></pre>
            </section>
            <section>
                <h2>Beispiel DetailView</h2>
                <pre><code data-trim class="python">
# urls.py

url(r'^(?P&lt;slug&gt;[a-zA-Z0-9_\-]+)/$',
    HostDetailView.as_view(), name="info"),
                </code></pre>
                <pre><code data-trim class="python">
# views.py

from django.views.generic import DetailView

class HostDetailView(DetailView):
    model = Host
    template_name = 'host/detail.html'
                </code></pre>
            </section>
        </section>

        <section>
            <section>
                <h1>ORM &amp; Models</h1>
            </section>
            <section>
                <h2>ORM &amp; Models</h2>
                <ul>
                    <li>Python to DB Mapping</li>
                    <li class="fragment roll-in">Model = Tabelle</li>
                    <li class="fragment roll-in">Datenvalidierung</li>
                    <li class="fragment roll-in">Anlegen/Ändern/Löschen von Datensätzen</li>
                    <li class="fragment roll-in">Kein "Raw-SQL"</li>
                    <li class="fragment roll-in">Vererbung</li>
                </ul>
            </section>
            <section>
                <h2>Model Beispiel</h2>
                <pre><code data-trim class="python">
# models.py

from django.db import models

class Host(models.Model):
    subdomain = models.CharField(max_length=256, validators=[
        RegexValidator(
            regex=r'^(([a-z0-9][a-z0-9\-]*[a-z0-9])|[a-z0-9])$',
            message='Invalid subdomain: only a-z, 0-9 and - are allowed'
        ),
        domain_blacklist_validator])
    domain = models.ForeignKey(Domain)
    update_secret = models.CharField(max_length=256)
    comment = models.CharField(
        max_length=256, default='', blank=True, null=True)
                </code></pre>
            </section>
            <section>
                <h2>Model Vererbung Beispiel</h2>
                <pre><code data-trim class="python">
# models.py

from django.db import models

class BaseModel(models.Model):
    last_update = models.DateTimeField(auto_now=True)
    created = models.DateTimeField(auto_now_add=True)

    class Meta:
        abstract = True

class Comment(BaseModel):
    comment = models.TextField()

class Value(BaseModel):
    value = models.IntegerField()
                </code></pre>
            </section>
        </section>

        <section>
            <section>
                <h1>Forms &amp; Validierung</h1>
            </section>
            <section>
                <h2>Forms &amp; Validierung</h2>
                <ul>
                    <li>Automatische Generierung von HTML &lt;form&gt;</li>
                    <li class="fragment roll-in">"POST-Data to Python"</li>
                    <li class="fragment roll-in">Datenvalidierung</li>
                    <li class="fragment roll-in">Sicherheitsmechanismen</li>
                </ul>
                <aside data-markdown class="notes">
                    <script type="text/template">
* Sicherheit: CSRF, Escaping
                    </script>
                </aside>
            </section>
            <section>
                <h2>Form Beispiel</h2>
                <pre><code data-trim class="python">
# forms.py

from django import forms

class BeginEndForm(forms.Form):
    begin = forms.DateField()
    end = forms.DateField()
                </code></pre>
                <pre><code data-trim class="python">
# views.py

from django.views.generic import FormView

class CalcDayDifferenceView(FormView):
    form_class = BeginEndForm

    def form_valid(self, form):
        diff = form.cleaned_data['end'] - form.cleaned_data['begin']
        # do sth with the difference
        ...
                </code></pre>
            </section>
            <section>
                <h2>Form Beispiel Template</h2>
                <pre><code data-trim class="django">
{# calc_day_difference.html #}
...
<form method="POST">
    {% csrf_token %}
    {{ form }}
    <input type="submit" />
</form>
....
                </code></pre>
            </section>
        </section>

        <section>
            <section>
                <h1>ModelForms</h1>
            </section>
            <section>
                <h2>ModelForms</h2>
                <ul>
                    <li>Forms aus Models generieren</li>
                    <li class="fragment roll-in">Eingegebene Daten wieder in die DB speichern</li>
                    <li class="fragment roll-in">Neue Datensätze erstellen</li>
                </ul>
            </section>
            <section>
                <h2>Model Form Beispiel</h2>
                <pre><code data-trim class="python">
# models.py

from django.db import models

class Thing(models.Model):
    related_thing = models.ForeignKey('Thing', null=True, blank=True)
    name = models.CharField(max_length=255,
                            help_text='The name of the thing')
                </code></pre>
                <pre><code data-trim class="python">
# views.py

from django.views.generic import CreateView
from .models import Thing

class CreateThingView(CreateView):
    model = Thing
                </code></pre>
            </section>
            <section>
                <h2>Model Form Template</h2>
                <pre><code data-trim class="django">
# thing_form.html

<h1>Create Thing</h1>
<form method="POST">
    <table>
        {% csrf_token %}
        {{ form.as_table }}
        <tr><td><input type="submit" /></td></tr>
    </table>
</form>
                </code></pre>
            </section>
            <section>
                <h2>Das Ergebnis</h2>
                <p><img src="django/thing_form.png" /></p>
            </section>
        </section>

        <section>
            <section>
                <h1>Admin Interface</h1>
            </section>
            <section>
                <h2>Admin Interface</h2>
                <ul>
                    <li>Generiertes Web-Datenbank-Frontend</li>
                    <li class="fragment roll-in">Anlegen, bearbeiten und löschen</li>
                    <li class="fragment roll-in">Praktisch kein zusätzlicher Code</li>
                </ul>
            </section>
            <section>
                <h2>Admin Interface - Code</h2>
                <pre><code data-trim class="python">
# admin.py

from django.contrib import admin
from things.models import Thing

admin.site.register(Thing)
                </code></pre>
            </section>
            <section>
                <h2>Admin Interface - Login</h2>
                <p><img src="django/admin_login.png" /></p>
            </section>
            <section>
                <h2>Admin Interface - Übersicht</h2>
                <p><img src="django/admin_overview.png" /></p>
            </section>
            <section>
                <h2>Admin Interface - Add Thing</h2>
                <p><img src="django/admin_add_thing.png" /></p>
            </section>
            <section>
                <h2>Admin Interface - Things</h2>
                <p><img src="django/admin_thing_list.png" /></p>
            </section>
        </section>

        <section>
            <section>
                <h1>SyncDB &amp; Migrations</h1>
            </section>
            <section>
                <h2>SyncDB</h2>
                <ul>
                    <li>Automatisiertes anlegen der DB</li>
                    <li class="fragment roll-in">kein Code oder SQL</li>
                    <li class="fragment roll-in">Nur neue Tabellen anlegen</li>
                </ul>
            </section>
            <section>
                <pre style="background-color:black;color:#00FF00">
asmaps@kallisto ...o-presentation/example_project % <span class="fragment highlight-current-red">python manage.py syncdb</span>
<span class="fragment highlight-current-red">Creating tables ...
Creating table django_admin_log
Creating table auth_permission
Creating table auth_group_permissions
Creating table auth_group
Creating table auth_user_groups
Creating table auth_user_user_permissions
Creating table auth_user
Creating table django_content_type
Creating table django_session</span>
<span class="fragment highlight-current-red">Creating table things_thing</span>

You just installed Django's auth system, which means you don't have any superusers defined.
<span class="fragment highlight-current-red">Would you like to create one now? (yes/no): yes
Username (leave blank to use 'asmaps'): 
Email address: 
Password: 
Password (again): 
Superuser created successfully.</span>
Installing custom SQL ...
Installing indexes ...
Installed 0 object(s) from 0 fixture(s)
                </pre>
                <aside class="notes">
                    highlight parts
                </aside>
            </section>

            <section>
                <h2>Migrations</h2>
                <ul>
                    <li>Änderungen an Models in DB einspielen</li>
                    <li class="fragment roll-in">Bisher nur über Third-Party-App "south"</li>
                    <li class="fragment roll-in">Ab 1.7 in Django</li>
                </ul>
            </section>
        </section>

        <section>
            <section>
                <h1>Hilfreiche Apps</h1>
            </section>
            <section>
                <h2>Hilfreiche Apps</h2>
                <ul>
                    <li>South</li>
                    <li class="fragment roll-in">django-extensions</li>
                    <li class="fragment roll-in">Django CMS</li>
                    <li class="fragment roll-in">django-debug-toolbar</li>
                    <li class="fragment roll-in">django-braces</li>
                    <li class="fragment roll-in">gunicorn</li>
                    <li class="fragment roll-in">django-celery</li>
                    <li class="fragment roll-in">huey</li>
                    <li class="fragment roll-in">djangorestframework</li>
                    <li class="fragment roll-in">uvm....</li>
                </ul>
            </section>
        </section>

        <section>
            <section>
                <h1>Deployment</h1>
            </section>
            <section>
                <h2>Deployment</h2>
                <p>Webserver:</p>
                <ul class="fragment roll-in">
                    <li>Apache (mod_wsgi)</li>
                    <li>Nginx (Gunicorn + Unix-Socket)</li>
                    <li>Alle Webserver mit WSGI-Support oder FastCGI</li>
                </ul>
                <div class="fragment roll-in">
                        <hr>
                        <p>Datenbanken:</p>
                </div>
                <ul class="fragment roll-in">
                    <li>Postgres</li>
                    <li>MySQL</li>
                    <li>SQLite</li>
                    <li>Oracle</li>
                    <li>Weitere über Third-Party DB-Konnektoren</li>
                </ul>
            </section>
        </section>

        <section>
            <section>
                <h2>Django in freier Wildbahn</h2>
                <div style="float: left; width: 50%;" class="fragment">
                    <p><a href="http://www.guardiannews.com/">The Guardian</a></p>
                    <p><a href="http://www.nytimes.com/">The New York Times</a></p>
                    <p><a href="http://www.washingtonpost.com/">Washington Post</a></p>
                    <p><a href="http://www.discovery.com/">Discovery Channel</a></p>
                    <p><a href="http://www.nationalgeographic.com/">National Geographic</a></p>
                    <p><a href="http://disqus.com/">Disqus</a></p>
                    <p><a href="http://www.mercedes-benz.com/">Mercedes-Benz</a></p>
                    <p><a href="http://science.nasa.gov/">NASA Science</a></p>
                </div>
                <div style="float: right; width: 50%;" class="fragment">
                    <p><a href="http://instagr.am/">Instagram</a></p>
                    <p><a href="http://www.rdio.com/">Rdio</a></p>
                    <p><a href="https://bitbucket.org/">BitBucket</a></p>
                    <p><a href="https://addons.mozilla.org/">Mozilla</a></p>
                    <p><a href="http://ubuntuusers.de/inyoka/">ubuntuusers.de</a></p>
                    <p><a href="http://redmonk.com/jgovernor/2010/10/22/vmware-ceo-django-rails-open-frameworks-apps-as-commodity-and-the-new-kingmakers/">VMWare</a></p>
                    <p><a href="https://developer.vodafone.com/">Vodafone</a></p>
                    <p><a href="https://www.hopper.pw/">hopper.pw</a></p>
                </div>
            </section>
        </section>

        <section>
            <section>
                <h1>Alternativen</h1>
            </section>
            <section>
                <h2>Alternativen</h2>
                <p>Me imagining what microframeworks are like</p>
                <p><img src="django/microframeworks.gif" /></p>
                <h4 style="text-align:right">Gefunden auf <a href="http://soyeahdjango.com/post/42687796799/me-imagining-what-microframeworks-are-like">soyeahdjango.com</a></h4>
            </section>
            <section>
                <h2>Flask</h2>
                <ul>
                    <li class="fragment roll-in">Lightweight Alternative</li>
                    <li class="fragment roll-in">weniger Funktionen out-of-the-box</li>
                    <li class="fragment roll-in">kleine Projekte</li>
                </ul>
            </section>
        </section>

        <section>
            <h2>Django lernen?</h2>
            <h3 class="fragment highlight-red">EINFACH MAL AUSPROBIEREN!</h3>
            <div class="fragment roll-in" style="text-align:left">
                <p>Offizielle Docs:<br><a href="https://docs.djangoproject.com/" class="indent">https://docs.djangoproject.com</a></p>
                <p>Online-Tutorials:<br><a href="http://twoscoopspress.com/pages/django-tutorials" class="indent">http://twoscoopspress.com/pages/django-tutorials</a></p>
                <p>Buch:<br><a href="http://www.amazon.de/Two-Scoops-Django-Best-Practices/dp/098146730X" class="indent">Two Scoops of Django</a></p>
                <p>Diese Präsentation:<br><a href="http://asmaps.github.io/django-presentation/" class="indent">http://asmaps.github.io/django-presentation/</a></p>
            </div>
        </section>

        <section>
            <h2>Danksagung</h2>
            <p style="text-align:left">Reveal.js:<br><a href="https://github.com/hakimel/reveal.js" class="indent">https://github.com/hakimel/reveal.js</a></p>
            <p style="text-align:left">Markus Zapke-Gründemann:<br><a href="http://www.django-introduction.com/" class="indent">http://www.django-introduction.com/</a></p>
            <p style="text-align:left">Raphaël.js:<br><a href="http://raphaeljs.com/" class="indent">http://raphaeljs.com/</a></p>
        </section>
        <section>
            <h2>Bildquellen</h2>
            <ul>
                <li>Django und das Django Logo sind eingetragene Warenzeichen der <a href="https://www.djangoproject.com/foundation/">Django Software Foundation</a></li>
                <li>Django Reinhardt Porträt: <a href="https://commons.wikimedia.org/wiki/File:Django_Reinhardt_(Gottlieb_07301).jpg">Wikimedia Commons/William P. Gottlieb (gemeinfrei)</a></li>
            </ul>
        </section>
        <section>
            <h2>Lizenz</h2>
            <p><small>Dieses Werk steht unter einer
                <br><a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/deed.de">Creative Commons
                    <br>Namensnennung - Weitergabe unter gleichen Bedingungen 3.0 Unported Lizenz</a></small></p>
            <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/deed.de"><img alt="Creative Commons Lizenzvertrag" style="border-width:0" src="django/cc-by-sa.png"></a>
        </section>
        <section>
            <h1>The End</h1>
            <p><img src="django/cat.gif" /></p>
        </section>
        <section>
            <h1>Fragen?</h1>
        </section>
    </div>

</div>

<script src="lib/js/head.min.js"></script>
<script src="js/reveal.min.js"></script>
<script src="js/raphael-min.js"></script>
<script src="js/raphael-chart.js"></script>

<script>

// Full list of configuration options available here:
// https://github.com/hakimel/reveal.js#configuration
Reveal.initialize({
controls: false,
progress: true,
history: true,
center: true,
slideNumber: true,
margin: 0.05,
minScale: 0.2,
maxScale: 1.0,

theme: Reveal.getQueryHash().theme, // available themes are in /css/theme
transition: Reveal.getQueryHash().transition || 'linear', // default/cube/page/concave/zoom/linear/fade/none

// Parallax scrolling
// parallaxBackgroundImage: 'https://s3.amazonaws.com/hakim-static/reveal-js/reveal-parallax-1.jpg',
// parallaxBackgroundSize: '2100px 900px',

// Optional libraries used to extend on reveal.js
dependencies: [
{ src: 'lib/js/classList.js', condition: function() { return !document.body.classList; } },
{ src: 'plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
{ src: 'plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
{ src: 'plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
{ src: 'plugin/zoom-js/zoom.js', async: true, condition: function() { return !!document.body.classList; } },
{ src: 'plugin/notes/notes.js', async: true, condition: function() { return !!document.body.classList; } }
]
});

// global colors for all charts
var colors = {
blue: Raphael.rgb(98, 147, 254),
      green: Raphael.rgb(85, 142, 40),
      orange: Raphael.rgb(253, 154, 0),
      silver: Raphael.rgb(204, 204, 204)
};
// request-response chart
(function() {
 var paper = Raphael('request-response', 830, 600);
 var width = 220;
 var textSize = 24;
 Reveal.addEventListener('request-response', function(event) {
     paper.clear();
     chart.paper = paper;
     ws = chart.rect('Webserver', 400, 50, colors.blue, width);
     url = chart.rect('URLConf', 120, 150, colors.green, width);
     mw = chart.rect('Middleware', 700, 50, colors.orange, width);
     view = chart.rect('View', 400, 250, colors.green, width);
     orm = chart.rect('Model (ORM)', 400, 400, colors.green, width);
     tpl = chart.rect('Template', 700, 350, colors.green, width);
     tf = chart.rect('Tags & Filter', 700, 500, colors.green, width);
     db = chart.rect('Datenbank', 400, 550, colors.blue, width);
     chart.pointTo(ws, 'left', url, 'top', colors.silver).label(
         'process_request', colors.orange, textSize);
     chart.pointTo(url, 'bottom', view, 'left', colors.silver).label(
         'process_view', colors.orange, textSize, 'left', 40);
     chart.pointTo(view, 'bottom', orm, 'top', colors.silver, 30);
     chart.pointTo(orm, 'bottom', db, 'top', colors.silver, 30);
     chart.pointTo(db, 'top', orm, 'bottom', colors.silver, -30);
     chart.pointTo(orm, 'top', view, 'bottom', colors.silver, -30);
     chart.connect(view, 'right', tpl, 'top', colors.silver);
     chart.pointTo(tpl, 'bottom', tf, 'top', colors.silver, 30);
     chart.pointTo(tf, 'top', tpl, 'bottom', colors.silver, -30);
     chart.pointTo(view, 'top', ws, 'bottom', colors.silver).label(
             'process_template_response\nprocess_response', colors.orange, textSize, 'right', 180);
 });
}());
</script>
</body>
</html>
